[Unit]
Description=Webserver for controlling the backupbox (bbx).
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/bbxweb
Restart=always
WorkingDirectory=/usr/local/src/bbx/
Environment=GIN_MODE=release

[Install]
WantedBy=multi-user.target
